<DOC html>
<html>
<body>
<center>
<h1 style = "color:purple ; font-size: 300%; font-family: Trebuchet MS">Account Settings</h1>
</center>

<head><style>
form {
    align = "left";
    style = "font-family: Trebuchet MS";
}
</style></head>

<form> Username:
<input type="text" name="username"><br>
</form>

<form> Email:
<input type = "text"; name = "email"><br>
</form>

<h3 style = "font-family: Trebuchet MS"><u>Change password</u></h3>

<form> Old password:
<input type = "text" name = "oldpassword"><br>
</form>

<form> New password:
<input type = "text" name = "newpassword"><br>
</form>

<form> Confirm new password:
<input type = "text" name = "confirmpassword"><br>
</form>

</body>
</html>
