<!DOCTYPE html>
<html>
<body>

<center>
<h1 style = "font-size: 300%; font-family: Trebuchet MS">
<a class = "header"; href = "/">Survi</a>
</h1>
<h2 style = "color: #383838; font-family: Trebuchet MS">AP Statistics stefoo</h2>
</center>

<head><style>

body {
    background-color: #BFE8BF;
}

a.header {
    color: #383838;
}

</style>

<form name ="form1" id = "1" method ="post" action ="">
    Username: <input type = "text", name = "username", id = "username"><br></br>
    Grade: <input type = "text", name="grade", id = "grade"><br></br>
    State of college next year: <input type = "text", link ="stae", id = "state"><br></br>
    Academy: <input type = "text", link ="acad", id = "acad"><br></br>
    Major: <input type = "text", link ="major", id = "major"><br></br>
    <INPUT TYPE = "submit" Name = "Submit" VALUE = "Submit">        
  </form>
 
</body>
</html>