<!DOCTYPE html>
<html>
<body>

<center>
<h1 style = "font-size: 300%; font-family: Trebuchet MS">
<a class = "header"; href = "/">Survi</a>
</h1>
<h2 style = "color: #383838; font-family: Trebuchet MS">Change Password</h2>
</center>

<head><style>

body {
    background-color: #BFE8BF;
}

form {
    align = left;
    font-family: Trebuchet MS;
}

a.header {
    color: #383838;
}

</style></head>

<form name ="changepassword" id = "as" method ="post" action ="">
    Username: <INPUT TYPE = "TEXT"; Name ="as_username"><br><br>
    Old password: <INPUT TYPE = "TEXT"; Name = "as_oldpassword"><br><br>
    New password: <INPUT TYPE = "TEXT"; Name = "as_newpassword"><br><br>
    Confirm new password: <INPUT TYPE = "TEXT"; Name = "as_confirmpassword"><br><br>
    <INPUT TYPE = "submit"; Name = "Submit1" VALUE = "Submit">
</form>

<!--
<form> Username:
<input type="text" name="username"><br>
</form>

<form> Email:
<input type = "text"; name = "email"><br>
</form>

<h3 style = "font-family: Trebuchet MS"><u>Change password</u></h3>

<form> Old password:
<input type = "text" name = "oldpassword"><br>
</form>

<form> New password:
<input type = "text" name = "newpassword"><br>
</form>

<form> Confirm new password:
<input type = "text" name = "confirmpassword"><br>
</form>

<INPUT TYPE = "submit" Name = "Submit1" VALUE = "Submit">
-->
</body>
</html>
