<style>
h1 {
color: purple;
font-family:Trebuchet MS;
}

p {
color: purple;
font-family:Trebuchet MS;
}

</style>
<!DOCTYPE html>
<html>
<body>

<h1 align="center">Countdown!</h1>

<p align="center"> Congradulations to last month's winner: _________!</p>

<p align="center">Time until next giveaway:</p>
<p align="center"><iframe width="350" height="240" src="https://w2.countingdownto.com/675127" frameborder="0"></iframe>

<p align="center">Total points: _____<br>
Your points: _____<br></p>

</body>
</html>
