<!DOCTYPE html>
<html>
<!--<<<<<<< HEAD
	<head>
		<script src="http://maps.googleapis.com/maps/api/js"></script>
		<script>
			function initialize() {
  				var mapProp = {
    				center:new google.maps.LatLng(51.508742,-0.120850),
	    			zoom:5,
    				mapTypeId:google.maps.MapTypeId.ROADMAP
  				};
  				var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
			}
			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
	</head>
	<body>
	<div id="googleMap" style="width:500px;height:380px;"></div>
</body>
=======
-->
<body>

<center>
<h1 style = "font-size: 300%; font-family: Trebuchet MS">
<a class = "header"; href = "/">Survi</a>
</h1>
<h2 style = "color: #383838; font-family: Trebuchet MS">Create a Survey</h2>
</center>

<form name ="form1" id = "1" method ="post" action ="">
    Title: <input type = "text", name = "surveyname"><br></br>
    Description: <input type = "text", description = "surveydescription"><br></br>
    Link to Google forms: <input type = "text", link ="googleformslink"><br></br>
    <hr></hr>
    /*<label class="val" style="width:250px;color:red;">Please select one</label><br></br>
    <input type = "radio" name = "questiontype" value = "mc">Multiple Choice<br></br>
	<input type = "radio" name = "questiontype" value = "open">Open Ended<br></br>
	<input type = "radio" name = "questiontype" value = "tf">True/False<br></br>*/

    <INPUT TYPE = "submit" Name = "Submit" VALUE = "Submit">        
  </form>
 
</body>
 
<head><style>

body {
	background-color: #BFE8BF;
}

a.header {
    color: #383838;
}

</head></style>

</html>
