<!DOCTYPE html>
<!--
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
-->
<html>

<head><style>

body {
    background-color: #BFE8BF;
}

a.header {
    color: #383838;
}

</style></head>

<script type="text/javascript">
      function newUser() {
           if (users.getUser('username': username) !== false) {
                 users.insert('username': username, 'password': password);
           }
      }
</script>
<body>
      <h1 style = "color: #383838; font-size: 300%; font-family: Trebuchet MS", align = "center"> Create Account </h1>
      <form name ="form1" id = "1" method ="post" action ="">
        Username: <INPUT TYPE = "TEXT" Name ="username" id="username">
        Password: <INPUT TYPE = "TEXT" Name ="password" id="password">
        <INPUT TYPE = "submit" Name = "Submit1" VALUE = "Submit">
      </form>
</body>
</html>
