<!DOCTYPE html>
<html>
<head> Survi - Create </head>
<body>
      <h1 align = "center"> Create </h1>
      <form name ="form1" id = "1" method ="post" action ="">
           Title: <input type="text" name="surveyname">
           Description: <input type="text" description="surveydescription">
           Number of Participants Desired: <input type="text" limit="limitnumber">
           (You would need to pay: "limit number")
           Question
           <INPUT TYPE = "submit" Name = "Submit" VALUE = "Submit">        
      </form>
 
</body>
 
</html>

<?PHP 
  if (isset($_POST['Submit'])) {
		$toprintout;
		switch ($_POST['Submit']) {
			$word = $_POST['surveyname'];
			if (strlen($word) === 0) {
				print("Error: Please enter a word!");
				break;
			}
			print("$username printed");
			break;	
		}	
	}
	print("$username not printed bwahahah");

?>