<!DOCTYPE html>
<html>
<head> Survi - Create </head>
<body>
      <h1 align = "center"> Create </h1>
      <form align = "left">
 
           Title: <input type="text" name="survey name">
           <br>
           <br>
           Description: <input type="text" description="survey description">
           <br>
           <br>
           Number of Participants Desired: <input type="text" limit="limit number">
           <br>
           (You would need to pay: "limit number")
           <br>
           <br>
           Question
      </form>
</body>
</html>