<!DOCTYPE html>
<html>
<body>

<center>
<h1 style = "font-size: 300%; font-family: Trebuchet MS">
<a class = "header"; href = "/">Survi</a>
</h1>
<h2 style = "color: #383838; font-family: Trebuchet MS">Surveys</h2>
</center>

<head><style>

body {
    background-color: #BFE8BF;
}

a.header {
    color: #383838;
}

table#t01 {
    width = 100%;
    margin: 0px auto;
    padding: 0px;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Trebuchet MS;
}

th, td {
    padding: 15px;
}

th#surveytbh {
    background-color: #383838;
    color: #FFFFFF;
    text-align: left;
}

</style></head>

<table id="t01">
  <tr><th colspan="5">Active Surveys</th></tr>
  <tr>
    <th id="surveytbh">Survey</th>
    <th id="surveytbh">Beginning Date</th>      
    <th id="surveytbh">Ending Date</th>
    <th id="surveytbh">Responses</th>
    <th id="surveytbh">Cap</th>
  </tr>
  <tr>
    <td width = "40%">AP Psychology hanlee</td>
    <td width = "15%">5/15/15</td>      
    <td width = "15%">6/12/15</td>
    <td width = "10%">3</td>
    <td width = "10%">10</td>
  </tr>
  <tr>
    <td><a href = "apstatisticsstefoo">AP Statistics stefoo</a></td>
    <td>5/17/15</td>        
    <td>6/9/15</td>
    <td>7</td>
    <td>15</td>
  </tr>
  <tr>
    <td>Personality Survey</td>
    <td>5/22/15</td>        
    <td>7/3/15</td>
    <td>2</td>
    <td>30</td>
  </tr>
  <tr>
    <td>Software vs. Hardware</td>
    <td>5/27/15</td>        
    <td>7/15/15</td>
    <td>1</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Mac or PC?</td>
    <td>6/3/15</td>        
    <td>7/15/15</td>
    <td>0</td>
    <td>12</td>
  </tr>
</table>

</body>
</html>