<!DOCTYPE html>
<html>
<body>

<center>
<h1 style = "font-size: 300%; font-family: Trebuchet MS">
<a class = "header"; href = "/">Survi</a>
</h1>
</center>

<head>
<style>

body {
    background-color: #BFE8BF;
}

ul.mainmenu {
    list-style-type: none;
    margin: 200;
    padding: 0;
    overflow: hidden;
}

ul.sidemenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-family: Trebuchet MS;
}

a.header {
    color: #383838;
}

a {
    display: block;
    width: 150px;
    color: #FFFFFF;
}

button {
  background-color: #383838;
  font-family: Trebuchet MS;
  font-size: 100%;
}

</style>
</head>

<ul align = "center", class="mainmenu">
    <li><button type = "button"><a href="search">Search</a></button></li>
    <li><button type = "button"><a href="newsurveys">New Surveys</a></button></li>
    <li><button type = "button"><a href="endingsurveys">Ending Surveys</a></button></li>
    <li><button type = "button"><a href="monthlylottery">Monthly Lottery</a></button></li>
</class></ul>

<ul align = "center", class="sidemenu">
    <li><button type = "button"><a href="newaccount">Create</a></button></li>
    <li><button type = "button"><a href="edit">Edit</a></button></li>
    <li><button type = "button"><a href="history">History</a></button></li>
    <li><button type = "button"><a href="surveystats">Survey Stats</a></button></li>
    <li><button type = "button"><a href="accountsettings">Account Settings</a></button></li>
</class></ul>

<center>
<h2 style = "font-family: Trebuchet MS"> Creators: </h2>
<p style = "font-family: Trebuchet MS"> Stephanie Foo, HanSoo Lee, Jiwon Lee </p>
</center>

</body>
</html>