<!DOCTYPE html>
<html>
<body>

<center>
<h1 style = "font-size: 300%; font-family: Trebuchet MS">
<a class = "header"; href = "/">Survi</a>
</h1>
<p style = "font-family: Trebuchet MS">Created by Stephanie Foo, HanSoo Lee, and Jiwon Lee</p>
</center>

<head>
<style>

body {
   background-color: #BFE8BF;
}

ul.mainmenu {
    list-style-type: none;
    margin: 200;
    padding: 0;
    overflow: hidden;
}

ul.sidemenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-family: Trebuchet MS;
}

a.header {
    color: #383838;
}

a {
    display: block;
    width: 150px;
    color: #FFFFFF;
}

button {
  background-color: #383838;
  font-family: Trebuchet MS;
  font-size: 100%;
}

</style>
</head>

<!--<ul class = "mainmenu">
    <li><button type = "button"><a href="search">Search</a></button></li>
    <li><button type = "button"><a href="newsurveys">New Surveys</a></button></li>
    <li><button type = "button"><a href="endingsurveys">Ending Surveys</a></button></li>
    <li><button type = "button"><a href="monthlylottery">Monthly Lottery</a></button></li>
</class></ul>
-->

<table align = "center">
    <tbody>
        <tr>
            <!--<th colspan = "4"><button type = "button"><a href="search">Search</a></button></th>-->
            <!--<th><button type = "button"><a href="newsurveys">New Surveys</a></button></th>-->
            <th><button type = "button"><a href="endingsurveys">Surveys</a></button></th>
            <!--<th><button type = "button"><a href="monthlylottery">Monthly Lottery</a></button></th>-->
            <th><button type = "button"><a href="newaccount">New Account</a></button></th>
            <th><button type = "button"><a href="login">Login</a></button></th>
        </tr>
    </tbody>
</table>

<!--<img src = "flask-boilerplate-master-git/templates/survithedolphin.jpg", alt = "SurviTheDolphin" style = "width:512px; height:512px;">-->

<table id="t01">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>      
    <th>Points</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>      
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>        
    <td>94</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>        
    <td>80</td>
  </tr>
</table>

</body>
</html>