<!DOCTYPE html>
<html>
<body>

<center>
<h1 style = "color:purple ; font-size: 300%; font-family: Trebuchet MS">
<a href="/">Survi</a>
</h1>
</center>

<head>
<style>

body {
    background-color: #CEF3FF;
}

.mainmenu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sidemenu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-family: Trebuchet MS;
}

a {
    display: block;
    width: 150px;
    color: purple;
}

#sidemenu {
    float: center;
    class: vertical;
}

</style>
</head>

<ul align = "center">
    <class="mainmenu">
        <li><a href="search">Search</a></li>
        <li><a href="newsurveys">New Surveys</a></li>
        <li><a href="endingsurveys">Ending Surveys</a></li>
        <li><a href="monthlylottery">Monthly Lottery</a></li>
    </div>
</ul>

<ul align="right">
    <class="sidemenu">
        <li><a href="createaccount">Create</a></li>
        <li><a href="edit">Edit</a></li>
        <li><a href="history">History</a></li>
        <li><a href="surveystats">Survey Stats</a></li>
        <li><a href="accountsettings">Account Settings</a></li>
    </div>
</ul>

<center>
<h2 style = "font-family: Trebuchet MS"> Creators: </h2>
<p style = "font-family: Trebuchet MS"> Stephanie Foo, HanSoo Lee, Jiwon Lee </p>
</center>

</body>
</html>