<!DOCTYPE html>
<html>
<body>

<center>
<h1 style = "font-size: 300%; font-family: Trebuchet MS">
<a class = "header"; href = "/">Survi</a>
</h1>
<p style = "font-family: Trebuchet MS">Created by Stephanie Foo, HanSoo Lee, and Jiwon Lee</p>
</center>

<head>
<style>

body {
    background-color: #BFE8BF;
}

ul.mainmenu {
    list-style-type: none;
    margin: 200;
    padding: 0;
    overflow: hidden;
}

ul.sidemenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-family: Trebuchet MS;
}

a.header {
    color: #383838;
}

a.main {
    display: block;
    width: 150px;
    color: #FFFFFF;
}

button {
  background-color: #383838;
  font-family: Trebuchet MS;
  font-size: 100%;
}

table#t01 {
    width = 100%;
    margin: 0px auto;
    padding: 0px;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Trebuchet MS;
}

th, td {
    padding: 15px;
}

th#surveytbh {
    background-color: #383838;
    color: #FFFFFF;
    text-align: left;
}

</style>
</head>

<!--<ul class = "mainmenu">
    <li><button type = "button"><a href="search">Search</a></button></li>
    <li><button type = "button"><a href="newsurveys">New Surveys</a></button></li>
    <li><button type = "button"><a href="endingsurveys">Ending Surveys</a></button></li>
    <li><button type = "button"><a href="monthlylottery">Monthly Lottery</a></button></li>
</class></ul>
-->

<table align = "center">
    <tbody>
        <tr>
            <!--<th colspan = "4"><button type = "button"><a href="search">Search</a></button></th>-->
            <!--<th><button type = "button"><a href="newsurveys">New Surveys</a></button></th>-->
<!---
            <th><button type = "button"><a href ="endingsurveyslogin"; id = "main">Surveys</a></button></th>
            <th><button type = "button"><a href="monthlylottery">Monthly Lottery</a></button></th>
            <th><button type = "button"><a class = "main"; href ="createsurvey">Create</a></button></th>
            <th><button type = "button"><a class = "main"; href ="edit">Edit</a></button></th>
            <th><button type = "button"><a class = "main"; href ="history">History</a></button></th>
            <th><button type = "button"><a class = "main"; href ="surveystats">Survey Stats</a></button></th>-->
            <th><button type = "button"><a class = "main"; href="endingsurveys">Surveys</a></button></th>
            <!--<th><button type = "button"><a href="monthlylottery">Monthly Lottery</a></button></th>-->
            <th><button type = "button"><a class = "main"; href ="createsurvey">Create</a></button></th>
            <!--<th><button type = "button"><a href = "history">History</a></button></th>
            <th><button type = "button"><a href = "surveystats">Survey Stats</a></button></th></th>-->
            <!--<tr>
                <th><button type = "button"><a href="changepassword">Change Password</a></button></th>
            </tr>-->
            <th><button type = "button"><a class = "main"; href="logout">Logout</a></button></th>
    </tbody>
</table>

<!--
<ul class = "sidemenu">
    <li><button type = "button"><a href="newaccount">Create</a></button></li>
    <li><button type = "button"><a href="edit">Edit</a></button></li>
    <li><button type = "button"><a href="history">History</a></button></li>
    <li><button type = "button"><a href="surveystats">Survey Stats</a></button></li>
    <li><button type = "button"><a href="accountsettings">Account Settings</a></button></li>
</class></ul>
-->

<!--
<table align = "right">
    <tbody>
        <tr>
            <th colspan = "1"><button type = "button"><a href="createsurvey">Create</a></button></th>
        </tr>
        <tr>
            <th><button type = "button"><a href="edit">Edit</a></button></th>
        </tr>
        <tr>
            <th><button type = "button"><a href="history">History</a></button></th>
        </tr>
        <tr>
            <th><button type = "button"><a href="surveystats">Survey Stats</a></button></th>
        </tr>
        <tr>
            <th><button type = "button"><a href="changepassword">Change Password</a></button></th>
        </tr>
        <tr>
            <th><button type = "button"><a href="logout">Logout</a></button></th>
    </tbody>
</table>
-->

<table id="t01">
  <tr><th colspan="5">Top Surveys</th></tr>
  <tr>
    <th id="surveytbh">Survey</th>
    <th id="surveytbh">Date Created</th>    
    <th id="surveytbh">Cap</th>
  </tr>
  <tr>
    <td width = "70%"><a href = "https://docs.google.com/forms/d/1J2geD9ZIRxxP2d_MczVmt5dtZe_cARHstrSBlWIsGyI/viewform">AP Psychology hanlee</a></td>
    <td width = "20%">5/15/15</td>      
    <td width = "10%">200</td>
  </tr>
  <tr>
    <td><a href = "https://docs.google.com/forms/d/1SDRKnxTB48AwasPO3Lco54sj2IxUHyYMtEOKQIWrjAE/viewform">AP Statistics stefoo</a></td>
    <td>5/22/15</td>        
    <td>15</td>
  </tr>
  <tr>
    <td><a href = "https://docs.google.com/forms/d/1mNhqzhNhc2lJxg10TEYRf_9lNN-RkqZrNCazB9sjLoA/viewform">Personality Survey</a></td>
    <td>6/5/15</td>        
    <td>30</td>
  </tr>
</table>

</body>
</html>

<!--
<center>
<h2 style = "font-family: Trebuchet MS"> Creators: </h2>
<p style = "font-family: Trebuchet MS"> Stephanie Foo, HanSoo Lee, Jiwon Lee </p>
</center>
-->

</body>
</html>