<!DOCTYPE html>
<html>
<head><style>

body {
    background-color: #BFE8BF;
}

</style></head>

<script type="text/javascript">
      function newUser() {
           if (users.getUser('username': username) !== false) {
                 users.insert('username': username, 'password': password);
           }
      }
</script>

<body>
      <h1 style = "color: #383838; font-size: 300%; font-family: Trebuchet MS", align = "center"> Create Account </h1>
      <form name ="form1" id = "1" method ="post" action ="">
        Username: <INPUT TYPE = "TEXT" Name ="username" id="username">
        Password: <INPUT TYPE = "TEXT" Name ="password" id="password">
        <INPUT TYPE = "submit" Name = "Submit1" VALUE = "Submit">
      </form>
</body>
</html>

<?PHP 
  if (isset($_POST['Submit1'])) {
    $username = $_POST['username'];
    $password = $_POST['password'];
    print ($username);
    print ($password);
  }
?>
