<!DOCTYPE html>
<html>
<body>

<center>
<h1 style = "font-size: 300%; font-family: Trebuchet MS">
<a class = "header"; href = "/">Survi</a>
</h1>
<p style = "font-family: Trebuchet MS">Created by Stephanie Foo, Jiwon Lee, and HanSoo Lee</p>
</center>

<head>
<style>

body {
    background-color: #BFE8BF;
}

li {
    float: left;
    font-family: Trebuchet MS;
}

a.header {
    color: #383838;
}

a {
    display: block;
    width: 150px;
    color: #FFFFFF;
}

button {
  background-color: #383838;
  font-family: Trebuchet MS;
  font-size: 100%;
}

</style>
</head>

<center>
<h3>Are you sure you want to log out?</h3>
<button type = "button"><a href='/'>Logout</a></button>
</center>

</body>
</html>