<!DOCTYPE html>
<html>
<body>

<style>

body {
    background-color: #BFE8BF;
}

h1 {
color: #383838;
font-family:Trebuchet MS;
}

p {
color: #383838;
font-family:Trebuchet MS;
}

form {
color: #383838;
font-family:Trebuchet MS;
}

</style>

<center><h1 style = "color: #383838; font-size: 300%; font-family: Trebuchet MS">Search for survey?</h1></center>

<form align="center">
<input type="text" name="surveyname"><br>
</form> 
<br>

<form align="center">
<input type="radio" name="sortBy" value="date">Date
<input type="radio" name="sortBy" value="atoZ">A - Z
<input type="radio" name="sortBy" value="ztoA">Z - A<br>
</body>
</html>
