<!DOCHTML>
<body>
<h1 style = "color: #383838; font-size: 300%; font-family: Trebuchet MS", align = center>Statistics</h1>

<style>

body {
    background-color: #BFE8BF;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: #BFE8BF;
    background-color: #383838;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Trebuchet MS;
}
</style>

<table id = "t01"; style="width:100%"; border-spacing : 5px>
  <tr>
    <tr>
        <th>Question1</th>
        <th>Question2</th> 
        <th>Question3</th>
    </tr>
    <td>Response from P1</td>
    <td>Response from P1</td> 
    <td>Response from P1</td>
  </tr>
  <tr>
    <td>Response from P2</td>
    <td>Response from P2</td> 
    <td>Response from P2</td>
  </tr>
  <tr>
    <td>Response from P3</td>
    <td>Response from P3</td> 
    <td>Response from P3</td>
  </tr>

</table>

</body>
</html>